.customDropdownUncompleted * {
  background: linear-gradient(
    90deg,
    rgba(7, 4, 48, 1) 0%,
    rgba(111, 182, 223, 1) 0%,
    rgba(168, 206, 228, 1) 100%
  );
  color: black;
}

.customDropdownCompleted * {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(255, 154, 154, 1) 0%,
    rgba(255, 183, 183, 1) 100%
  );
  color: black;
}
